<div class="footer row">
  <div class="footer-left col">
    <h3>Statistics</h3>

    <div class="chart">
      <canvas id="myChart" class="w-1 h-1"></canvas>
    </div>

    <!-- JAVASCRIPT ĐỂ RENDER BIỂU ĐỒ -->
    <script src="/scripts/graph.js"></script>

    <p class="footer-copyright">©️2024 FLAGBAY</p>
  </div>

  <div class="footer-center col">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>227 Nguyen Van Cu, Ward 4, District 5, HCM City, Viet Nam</span>
      </p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>0901276608</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#">ndtin21@clc.fitus.edu.vn</a></p>
    </div>
  </div>

  <div class="footer-right col">
    <p class="footer-about">
      <span>About</span>
      Whether you're a collector, a history buff, or someone who loves to
      express their heritage or personal identity, we've got you covered. Our
      extensive range includes national flags, historical standards, unique
      cultural banners, and everything in between. Each flag in our collection
      is chosen for its quality, authenticity, and the story it tells.
    </p>

    <div class="footer-media">
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</div>