<%- include('../components/login.ejs') %> 
<%- include('../components/register.ejs') %>
<header class="top-header">
  <div class="d-flex justify-content-between align-items-center">
    <div class="col-3">
      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>

    <div class="col-6">
      <div class="search d-flex justify-content-center">
        <a href="/" style="color: inherit; text-decoration: none">
          <span class="fw-bolder m-3">FLAGBAY</span>
          <img src="/images/flagicon.png" alt="Logo" width="100" height="70" />
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="user">
        <div class="d-flex justify-content-center align-items-center">
          <div class="btn-group rounded-circle">
            <% if (user !== null && user !== undefined) { %>
            <!-- Hiển thị dropdown cho người dùng đã đăng nhập -->
            <button
              type="button"
              class="btn btn-danger dropdown-toggle d-flex align-items-center"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-regular fa-user fs-5 mx-2"></i>
              <div>Welcome, <%= user.name %></div>
            </button>
            <div class="user-dropdown">
              <ul
                class="dropdown-menu"
                style="
                  border-radius: 10px;
                  background-color: rgba(245, 240, 246, 0.8);
                "
              >
                <li class="d-flex justify-content-center">
                  <button type="button" class="btn btn-link" onclick="profile()">
                    Profile Page
                  </button>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>

                <li class="d-flex justify-content-center">
                  <button type="button" class="btn btn-link" onclick="logout()">
                    Logout
                  </button>
                </li>

                <!-- JAVASCRIPT ĐỂ XỬ LÝ GỬI REQUEST VÀ CHUYỂN TRANG KHI LOGOUT (by Dương) -->
                <script src="/scripts/logout.js"></script>
                <script src="/scripts/profile.js"></script>
              </ul>
            </div>
            <% } else { %>
            <!-- Hiển thị dropdown cho người dùng chưa đăng nhập -->
            <button
              type="button"
              class="btn btn-danger dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-regular fa-user fs-5"></i>
            </button>
            <div class="login-dropdown">
              <ul
                class="dropdown-menu"
                style="
                  border-radius: 10px;
                  background-color: rgba(245, 240, 246, 0.8);
                "
              >
                <li class="d-flex justify-content-center">
                  <button
                    type="button"
                    class="login-container btn btn-link"
                    data-bs-toggle="modal"
                    data-bs-target="#LoginModal"
                  >
                    Login
                  </button>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>

                <li class="d-flex justify-content-center">
                  <button
                    type="button"
                    class="register-container btn btn-link"
                    data-bs-toggle="modal"
                    data-bs-target="#RegisterModal"
                  >
                    Register
                  </button>
                </li>
              </ul>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
