<div class="image-slider p-5">
    <section class="pt-5 pb-5 mx-5">
        <div class="">
            <div class="top d-flex pt-3 px-3">
                <div class="col-6">
                    <h2 class="mb-3"> GỢI Ý SẢN PHẨM</h2>
                </div>
                <div class="col-6 text-right d-flex justify-content-end align-items-center">
                    <a class="btn btn-primary mb-3 mr-1 mx-3" href="#carouselExampleIndicators2" role="button"
                        data-bs-slide="prev">
                        <i class="fa-solid fa-arrow-left"></i> </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button"
                        data-bs-slide="next">
                        <i class="fa-solid fa-arrow-right"></i> </a>
                </div>
            </div>

            <div class="p-3 bot">
                <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                            src="https://i.pinimg.com/564x/7a/46/3c/7a463c21fdd361c2048a90c022bca09a.jpg" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Title
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                            src="https://i.pinimg.com/564x/10/3f/c5/103fc5b3eacdbe0219d4bea002640d82.jpg" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Title
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                            src="https://i.pinimg.com/564x/5e/70/a6/5e70a6b890822f39177e1c78c24bc0ed.jpg" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Title
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                            src="https://i.pinimg.com/564x/7a/46/3c/7a463c21fdd361c2048a90c022bca09a.jpg" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Title
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                            src="https://i.pinimg.com/564x/08/99/39/08993914c269bcfd8b76384eaeec3a2b.jpg" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Title
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                            src="https://i.pinimg.com/564x/46/52/d2/4652d2948c3b1df8ee28da939f6a1a49.jpg" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Title
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                            src="https://i.pinimg.com/564x/ae/2d/19/ae2d19a448fcf8aa5f001675ca80bec9.jpg" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Title
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                            src="https://i.pinimg.com/564x/fa/f6/82/faf6823be01222a6e74080ed26409992.jpg" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Title
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280"
                                            src="https://i.pinimg.com/564x/2a/5b/bd/2a5bbd856b3df2c7b0fb45e7524df310.jpg" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Title
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt
                                                ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>