@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header,
footer {
  width: 100%;
  z-index: 0;
}

.top-header {
  padding: 15px 0;
  background: #040a18;
  color: #ffffff;
}

.side-bar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.3s ease;
  transition-property: left;
  z-index: 2;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 125px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #ffffff;
  background-color: #204387;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: rgb(92, 136, 194);
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
  display: none;
}

.side-bar .menu .item .sub-menu a {
  background: #1a3765;
  padding-left: 80px;
}

.side-bar .menu .item .sub-menu a:hover {
  background: rgb(92, 136, 194);
}

.rotate {
  transform: rotate(90deg);
}

.close-btn {
  display: inline-block;
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  right: 0;
  margin: 25px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover {
  background-color: lightgray;
}

.menu-btn {
  display: inline-block;
  color: #ffffff;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-btn:hover {
  background-color: #202020;
  transform: rotate(270deg);
  transition: 0.5s;
}

/* need edit */
.top-header .search {
  width: 100%;
  font-size: 40px;
  font-style: italic;
}

.top-header .search input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  color: #666666;
  border: 1px solid #a53b37;
}

.top-header .search button {
  position: absolute;
  width: 40px;
  height: 38px;
  top: 1px;
  right: 16px;
  padding: 0 15px;
  border: none;
  background: none;
  color: #a53b37;
}

.top-header .search button:hover {
  background: #a53b37;
  color: #ffffff;
}

.top-header .user {
  width: 100%;
  padding: 0 30px;
  text-align: right;
}

.top-header .user .dropdown {
  display: inline-block;
  margin-right: 15px;
}

.top-header .user .dropdown-menu {
  border-radius: 0;
}

.top-header .user .cart {
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.top-header .user .cart>span>i {
  font-size: 30px;
}

.top-header .user .cart i {
  color: #a53b37;
  font-size: 18px;
}


/* need edit */

footer {
  position: fixed;
  bottom: 0;
}

.footer {
  background-color: #040a18;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer .footer-left {
  width: 30%;
}

.footer .footer-left .user {
  font-size: 40px;
}

.footer .footer-left .user .odometer {
  margin-right: 2px;
}

.footer h3 {
  color: #f5f5f5;
  margin: 0;
  padding-bottom: 20px;
  font-family: Georgia, "Time New Roman", Times, serif;
}

.footer .footer-left img {
  width: 25%;
  vertical-align: middle;
}

.footer .footer-left .credit-cards {
  width: 100%;
}

.footer .footer-copyright {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}

.footer .footer-center {
  width: 35%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0px;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: rgb(22, 255, 177);
  text-decoration: none;
}

.footer .footer-right {
  width: 30%;
}

.footer .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}

.footer .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-media {
  margin-top: 25px;
}

.footer .footer-media a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .footer-media a:hover {
  background-color: rgb(0, 122, 82);
}

.content-body {
  background-color: #ffffff;
}

.card-title {
  height: 3rem;
}

.card>a {
  text-decoration: none;
}

.bg-image {
  width: 100%;
  height: 25rem;
  background-image: url("https://img.freepik.com/premium-photo/background-many-different-flags-concept-international-community_795422-7126.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.image-top>.text {
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.carousel-item>img,
.carousel-item :active>img {
  height: 250px;
}

.carousel-item,
.carousel-item :active {
  transition: transform 0.6s ease;
}

.top {
  background-color: #162D5A;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: white;
}

.top>.btn {
  height: fit-content;
}


.bot {
  background-color: #204387;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.card {
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(6, 233, 195, 0.2), 0 6px 20px 0 rgba(6, 233, 195, 0.2);
  box-sizing: border-box;
}

.img-fluid {
  height: 15rem;
}

.title-product {
  background: url(https://kinhmatanna.com/wp-content/uploads/2022/08/Vector-3-1.svg);
  background-repeat: no-repeat;
}

.intro {
  background: url(https://kinhmatanna.com/wp-content/uploads/2022/08/Vector-3-1.svg);
  background-repeat: no-repeat;
}

.card-img-top {
  object-fit: cover;
  height: 15vw;
  transition: transform 1.2s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.btn-group {
  width: 3rem;
  height: 3rem;
}

.btn-link {
  text-decoration: none;
}

#see-more-btn {
  text-decoration: none;
}

.titleNav {
  color: #81c8c2;
  font-size: 1.5rem;
}

.img-product {
  overflow: hidden;
  width: 85%;
  object-fit: cover;
  transition: transform 1.2s;
  border-radius: 12px;
}
.img-product:hover {
  transform: scale(1.2);
}
.count {
  width: 10rem;
}