@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  width: 100%;
  z-index: 1;
}

.top-header {
  top: 0;
  padding: 15px 0;
  background: #040a18;
  color: #ffffff;
}

.side-bar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.3s ease;
  transition-property: left;
  z-index: 2;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 125px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #ffffff;
  background-color: #204387;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: rgb(92, 136, 194);
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
  display: none;
}

.side-bar .menu .item .sub-menu a {
  background: #1a3765;
  padding-left: 80px;
}

.side-bar .menu .item .sub-menu a:hover {
  background: rgb(92, 136, 194);
}

.rotate {
  transform: rotate(90deg);
}

.close-btn {
  display: inline-block;
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  right: 0;
  margin: 25px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover {
  background-color: lightgray;
}

.menu-btn {
  display: inline-block;
  color: #ffffff;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-btn:hover {
  background-color: #202020;
  transform: rotate(270deg);
  transition: 0.5s;
}

/* need edit */
.top-header .search {
  width: 100%;
  font-size: 40px;
  font-style: italic;
}

.top-header .search input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  color: #666666;
  border: 1px solid #a53b37;
}

.top-header .search button {
  position: absolute;
  width: 40px;
  height: 38px;
  top: 1px;
  right: 16px;
  padding: 0 15px;
  border: none;
  background: none;
  color: #a53b37;
}

.top-header .search button:hover {
  background: #a53b37;
  color: #ffffff;
}

.top-header .user {
  width: 100%;
  padding: 0 30px;
  text-align: right;
}

.top-header .user .dropdown {
  display: inline-block;
  margin-right: 15px;
}

.top-header .user .dropdown-menu {
  border-radius: 0;
}

.top-header .user .cart {
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.top-header .user .cart>span>i {
  font-size: 30px;
}

.top-header .user .cart i {
  color: #a53b37;
  font-size: 18px;
}


/* need edit */

.footer {
  background-color: #040a18;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px;
  margin-top: auto;
  bottom: 0;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer .footer-left {
  width: 30%;
}

.footer .footer-left .user {
  font-size: 40px;
}

.footer .footer-left .chart {
  color: white;
  width: fit-content;
  height: fit-content;
}

.footer h3 {
  color: #f5f5f5;
  margin: 0;
  padding-bottom: 20px;
  font-family: Georgia, "Time New Roman", Times, serif;
}

.footer .footer-left img {
  width: 25%;
  vertical-align: middle;
}

.footer .footer-left .credit-cards {
  width: 100%;
}

.footer .footer-copyright {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}

.footer .footer-center {
  width: 35%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0px;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: rgb(22, 255, 177);
  text-decoration: none;
}

.footer .footer-right {
  width: 30%;
}

.footer .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}

.footer .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-media {
  margin-top: 25px;
}

.footer .footer-media a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .footer-media a:hover {
  background-color: rgb(0, 122, 82);
}

.content-body {
  background-color: #f0f2f5;
}

.card-title {
  height: 3rem;
}

.card>a {
  text-decoration: none;
}

.bg-image {
  width: 100%;
  height: 25rem;
  background-image: url("https://img.freepik.com/premium-photo/background-many-different-flags-concept-international-community_795422-7126.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.verify-form {
  background-image: url("https://static.vecteezy.com/system/resources/previews/030/470/815/non_2x/background-of-many-flags-of-the-world-the-concept-of-international-relations-ai-generated-photo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 60%;
}
.image-top>.text {
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.carousel-item>img,
.carousel-item :active>img {
  height: 250px;
}

.carousel-item,
.carousel-item :active {
  transition: transform 0.6s ease;
}

.top {
  background-color: #162D5A;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: white;
}

.top>.btn {
  height: fit-content;
}


.bot {
  background-color: #204387;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.card {
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(6, 233, 195, 0.2), 0 6px 20px 0 rgba(6, 233, 195, 0.2);
  box-sizing: border-box;
}

.img-fluid {
  height: 15rem;
}

.title-product {
  background: url(https://kinhmatanna.com/wp-content/uploads/2022/08/Vector-3-1.svg);
  background-repeat: no-repeat;
}

.intro {
  background: url(https://kinhmatanna.com/wp-content/uploads/2022/08/Vector-3-1.svg);
  background-repeat: no-repeat;
}

.card-img-top {
  object-fit: cover;
  height: 15vw;
  transition: transform 1.2s;
}

.card-img-top:hover {
  transform: scale(1.1);
}
.card-img-left {
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  transition: transform 1.2s;
  border-radius: 1rem;
}
.card-img-left:hover {
  transform: scale(1.1);
}
.btn-link {
  text-decoration: none;
}

#see-more-btn {
  text-decoration: none;
}

.titleNav {
  color: #81c8c2;
  font-size: 1.5rem;
}

.img-product {
  overflow: hidden;
  width: 85%;
  object-fit: cover;
  transition: transform 1.2s;
  border-radius: 12px;
}
.img-product:hover {
  transform: scale(1.2);
}
.count {
  width: 10rem;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}

.non-editable-field {
  pointer-events: none;
}

.input-group {
  position: relative;
}

.input-group-append {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.input-group-append button {
  margin-left: -42px;
}

.money {
  font-size: 50px;
}

.payment-method {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  padding: 6px 0;
  margin-bottom: 12px;
  width: 100%;
  height: fit-content;
}
.payment-method input {
  display: none;
}
.payment-method-item {
  width: 250px;
  height: 80px;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.payment-method-item:hover {
  border: 5px solid lightskyblue;
  shape-outside: margin-box;
}
input:checked + .payment-method-item {
  border-color: blue;
}
input:checked + .payment-method-item::before {
  content: '';
  position: absolute;
  top: -6px;
  right: -6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: blue;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjAwMDcgMTUuMTcwOUwxOS4xOTMxIDUuOTc4NTJMMjAuNjA3MyA3LjM5MjczTDEwLjAwMDcgMTcuOTk5M0wzLjYzNjcyIDExLjYzNTRMNS4wNTA5MyAxMC4yMjEyTDEwLjAwMDcgMTUuMTcwOVoiIGZpbGw9InJnYmEoMjU1LDI1NSwyNTUsMSkiPjwvcGF0aD48L3N2Zz4=");
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}
.payment-method-item > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}
.loader {
  margin: 50px;
  height: 200px;
  width: 200px;
  border: 12px solid #e3e3e3;
  border-radius: 50%;
  border-top-color: #4070f4;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.blurred {
  filter: blur(5px);
}

.toast-container {
  position: fixed;
  top: 5rem; 
  right: 5rem; 
  z-index: 1050;
}
.icon {
  background: #ffab9d;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.btn-test {
    color: #111;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 35px 8px 20px;
    border-radius: 24px;
    border: 1px solid #ffab9d;
    position: relative;
    z-index: 1;
    transition: all .3s ease-in-out;
}
.btn-test:focus,
.btn-test:hover{
    color: #111;
    box-shadow: 0 0 10px #ffab9d;
}   
.btn-test:before{
    content: "";
    background:#ffab9d;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease;
}
.btn-test:focus:before,
.btn-test:hover:before{
    background:#ffab9d;
    width: 100%;
}
.btn-test:after{
    content: "\f30b";
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 15px;
    transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
}
.btn-test:focus:after,
.btn-test:hover:after{ right: 8px; }
@media only screen and (max-width: 767px){
    .btn-test{ margin-bottom: 20px; }
}